@mixin card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background: #f9f9f9;
  @content; // 사용자 정의 내용 삽입;
}

.card1 {
  @include card {
    color: #333;
    font-weight: bold;
  }
}

.card2 {
  @include card {
    color: #666;
    font-style: italic;
  }
}
